page-guests {

  .add-guest-form {
    button { margin-top: 16px; }
  }

  .bordureBottom{
    border-bottom: cornflowerblue 1px solid;
  }

  .bordeau{
    color: darkmagenta;
  }

  .bleu{
    color: royalblue;
  }

  .titre {
    text-decoration: underline;
    color: royalblue;
  }

}
