
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Participants</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="setAddGuest()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card class="add-guest-form" *ngIf="activeAddGuest">

    <ion-card-content>

      <ion-item>
        <ion-input class="bordureBottom" [(ngModel)]="nomGuest" type="text"
                   placeholder="Nom du Participant"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="bordureBottom" [(ngModel)]="prenomGuest" type="text"
                   placeholder="Prénom du Participant"></ion-input>
      </ion-item>

      <ion-item>
              <ion-input class="bordureBottom" [(ngModel)]="adresseGuest" type="text"
                         placeholder="Adresse du Participant"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="bordureBottom" [(ngModel)]="emailGuest" type="text"
                   placeholder="Email du Participant"></ion-input>
      </ion-item>

      <ion-item>
              <ion-input class="bordureBottom" [(ngModel)]="telGuest" type="text"
                         placeholder="Téléphone du Participant"></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <button ion-button color="primary" block (click)="offAddGuest()">
            Annuler
            </button>
          </ion-col>

          <ion-col col-6>
            <button ion-button color="primary"
            block [disabled]="!nomGuest || !prenomGuest || !adresseGuest || !emailGuest || !telGuest"
             (click)="addGuest(nomGuest, prenomGuest, adresseGuest, emailGuest, telGuest)">
             Ajouter 
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>    

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header color="dark">
      <strong>{{currentEvent.nomEvent}} le {{currentEvent.dateEvent}}</strong>
    </ion-card-header>

    <ion-card-content>

    <ion-list>

      <ion-item  class="bordureBottom" *ngFor="let guest of guestList; let i = index">

        <ion-grid>
         <ion-row>
           <ion-col col-4><p class="bordeau"><strong>{{guest?.nom}}</strong></p></ion-col>
           <ion-col col-4><p class="bordeau"><strong>{{guest?.prenom}}</strong></p></ion-col>
         </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-2><ion-icon ios="ios-mail" md="md-mail"></ion-icon></ion-col>
            <ion-col col-5><p class="bordeau">{{guest?.email}}</p></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
            <ion-col col-2><ion-icon ios="ios-call" md="md-call"></ion-icon></ion-col>
            <ion-col col-5> <p class="bordeau">{{guest?.tel}}</p></ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid>
          <ion-row>
           <ion-col col-2><ion-icon ios="ios-pin" md="md-pin"></ion-icon></ion-col>
           <ion-col col-10> <p class="bordeau">{{guest?.adresse}}</p></ion-col>
          </ion-row>
        </ion-grid>

        <button ion-button color="primary" clear (click)="editGuest(guest.id,i)">
          Editer
        </button>

        <button ion-button color="primary" clear (click)="deleteGuest(guest.id)">
          Supprimer
        </button>

      </ion-item>

      <ion-item *ngIf="currentEvent.inscritsEvent==0">
        <p>Pas de participant inscrit à cet Event.</p>
      </ion-item>

    </ion-list>

    </ion-card-content>

  </ion-card>



</ion-content>
