page-event-detail {

  .titre{
    color: darkmagenta;
    font-weight: bold;
    text-align: center;
  }

  .gain { color: #22BB22; }

  .perte { color: #FF0000; }

  .bordureBottom{
    border-bottom: cornflowerblue 1px solid;
  }

  .bleu{
    color: royalblue;
  }

}
