<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-list-header>
      Tapez les zones de texte pour éditer
    </ion-list-header>

    <ion-item (click)="updateName()">
      <ion-grid>

        <ion-row>
          <ion-col col-6 class="bordeau">Utilisateur</ion-col>

          <ion-col col-6 *ngIf="userProfile?.prenom || userProfile?.nom">
            {{userProfile?.prenom}} {{userProfile?.nom}}
          </ion-col>

          <ion-col col-6 class="placeholder-profile"
                   *ngIf="!userProfile?.prenom && !userProfile?.nom">
            <span> Tapez pour éditer. </span>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label class="date-label">Date de naissance</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD MMM YYYY"
                    [(ngModel)]="dateNaissance" (ionChange)="updateDateNaiss(dateNaissance)">
      </ion-datetime>
    </ion-item>

    <ion-item (click)="updateEmail()">
      <ion-grid>
        <ion-row>
          <ion-col col-4 class="bordeau"> Email </ion-col>
          <ion-col col-8 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
          <ion-col col-7 class="placeholder-profile" *ngIf="!userProfile?.email">
            <span> Tapez pour éditer. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item (click)="updateMotPasse()">
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="bordeau">Mot de passe</ion-col>
          <ion-col col-6 class="placeholder-profile">
            <span> Tapez pour éditer. </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>
