page-home {

  .centrage{
    text-align: center;
  }

  .bordureBottom{
    border-bottom: cornflowerblue 1px solid;
  }

  .titre{
    color: darkmagenta;
    font-weight: bold;
    text-align: center;
  }


}
