page-event-list {

  .vert {
    color: #22BB22;
  }

  .rouge {
    color: #FF0000;
  }

  .bleu{
    color: royalblue;
  }

  .titre{
    color: darkmagenta;
    font-weight: bold;
    text-align: center;
  }

}
